
@font-face {
    font-family: 'Volax';
    src: url('/static/assets/Valorax-lg25V.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SourGummy';
    src: url('/static/assets/SourGummy-Variable.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.text {
    font-family: 'Volax';
}

.input {
    font-family: 'SourGummy';
}

.custom-placeholder::placeholder {
    color: rgba(243, 25, 69, 0.8)    
}
