{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag Game</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'home.css' %}" rel="stylesheet">
</head>


<body class="h-screen flex justify-center items-center">
    <video autoplay loop muted class="background-video">
        <source src="/static/assets/cityScape.mp4" type="video/mp4">
    </video>

    <div class="space-y-6">

        <!-- Box 1 -->
        <div class="bg-gray-900 bg-opacity-70 rounded-lg py-4 items-center">
            <h1 class="text mx-16 text-center text-xl">Remote</h1>
            <input placeholder="" class="my-6 mx-24 block">
            <a href="tag.html" class="mx-28 mb-24">
                <button class="bg-black rounded-lg px-4 py-3 text text-white">
                    Join Game
                </button>
            </a>
        </div>

        <!-- Box 2 -->
        <div class="bg-gray-900 bg-opacity-70 rounded-lg py-4">
            <h1 class="text mx-16 text-center text-xl">Local</h1>
            <input placeholder="" class="my-6 mx-24 block">
            <a href="/" class="mx-28 mb-24">
                <button class="bg-black rounded-lg px-4 py-3 text text-white">
                    Join Game
                </button>
            </a>
        </div>

</body>
</html>
