
@font-face {
    font-family: 'Volax';
    src: url('/static/assets/Valorax-lg25V.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SourGummy';
    src: url('/static/assets/SourGummy-Variable.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

html, body{
    background-color: #1A1C2C;
}

img{
    width: 15vw;
    height: 15vw;
}

.loading{
    font-family: 'SourGummy';
    font-size: 3vw;
    color: #DCDCDC;
}

#overlay{
    font-size: 5vw;
    /* visibility: hidden; */
    font-family: 'Volax';
}

.button{
    color: #DCDCDC;
    background-color: #555;
    font-size: 3vw;
}
