{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag Game</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'home.css' %}" rel="stylesheet">
</head>


<body class="relative h-screen flex justify-center items-center">
    <video autoplay loop muted class="background-video">
        <source src="/static/assets/cityScape.mp4" type="video/mp4">
    </video>

    <div id="history_list" class="invisible absolute inset-0 flex justify-center items-center">
        <div class="relative md:w-3/5 md:h-3/5 w-screen h-screen bg-black bg-opacity-70 rounded-lg p-5 overflow-y-auto text-white text-center lg:text-xl space-y-4">
            <div class="lg:grid lg:grid-cols-3 lg:place-items-center space-y-2">
                <button id="close" class="absolute top-2 right-2 bg-black rounded-lg px-2 games">X</button>
                <input placeholder="username" class="games text-center text-black rounded-lg w-1/2 h-1/2" id="getUser">
                <h1 class="text">Game History</h1>
                <button id="delete" class="text text-red-600">DELETE</button>
            </div>
            <div class="games flex justify-center">
                <table class="table-fixed w-full">
                    <thead>
                      <tr>
                        <th class="w-1/4"></th>
                        <th class="w-1/4"></th>
                        <th class="w-1/4"></th>
                        <th class="w-1/4"></th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="absolute grid-rows-2" id = "home">
        <div class="lg:grid lg:grid-cols-3 lg:space-y-0 space-y-6 mt-16">
            <!-- Remote -->
            <div class="bg-black bg-opacity-70 rounded-lg py-4 flex justify-between items-center flex-col">
                <h1 class="text mx-16 text-center text-xl text-white">Remote</h1>
                <input placeholder="Username" class="text-center input my-6 mx-16 rounded block" id="Username">
                <button class="mx-20 bg-black rounded-lg px-5 py-3 text text-white" id="Remote">Join Game</button>
            </div>
            <div></div>
            <!-- Local -->
            <div class="bg-black bg-opacity-70 rounded-lg py-4 flex justify-between items-center flex-col">
                <h1 class="text mx-16 text-center text-xl text-white">Local</h1>
                <input placeholder="First Player" class="text-center input my-6 mx-16 rounded block" id="First Player">
                <input placeholder="Second Player" class="text-center input my-6 mx-16 rounded block" id="Second Player">
                <button class="mx-20 bg-black rounded-lg px-5 py-3 text text-white" id="Local">Join Game</button>
            </div>
        </div>
        <div class="lg:grid lg:grid-cols-3 lg:space-y-0 space-y-6 mt-16">
            <div></div>
            <div>
                <button class="mx-20 bg-black rounded-lg px-5 py-3 text text-white" id="historyButton">Game History</button>
            </div>
            <div></div>
        </div>
    </div>
    <script type="module" src="{% static 'home.js' %}"></script>
</body>
</html>
